<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745477093012-au74a3gcpr50275uvluptr7n1bmvpnor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745477093012-au74a3gcpr50275uvluptr7n1bmvpnor</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>745477093012-ufbf4tcj8djk3qgmupvh3o2da3mll26j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCcI23XoDcgVpJxoC5LnikFu3FZmOTv1IU</string>
	<key>GCM_SENDER_ID</key>
	<string>745477093012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutterflow.cipherhunt</string>
	<key>PROJECT_ID</key>
	<string>cipherhunt-8l4cam</string>
	<key>STORAGE_BUCKET</key>
	<string>cipherhunt-8l4cam.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745477093012:ios:76d22b05e5e3908aa82681</string>
</dict>
</plist>